
/*
Author: 
Date: 5/21/19
Name: style.css
*/

*{box-sizing:border-box;
}

body {
background-image: url("MN.jpg"); background-position:center; background-size:cover; 
background-repeat:no-repeat; background-attachment:fixed;
font-family: Times New Roman;
padding: 20px;
text-align: center;
color: white;
}

ol {
display: inline-block;
text-align: left;
margin-top:0px;
}

table {
margin-left: auto;
margin-right: auto;
text-align: left;
}

a {
color: white;
}

img {
vertical-align: middle;
}

.title {
padding: 0px; 
font-size: 30px;
text-align: center;
margin-top: 0px;
opacity:0.95;
width: 100%;
color: white;
vertical-align: text-bottom;
}

.navbar{
background-color: #100;
overflow: hidden;
opacity: 0.95;
margin-top: 0px;
margin-left: auto;
margin-right: auto;
width: 100%;
}

.navbar a {
float: center;
color: #f2f2f2;
text-align: center;
padding: 14px 16px;
text-decoration: none;
font-size: 17px;
opcity: 0.95;
}

.navbar a:hover {
background-color: #ddd;
color: black;
opacity:0.95;
}

.navbar a.active {
background-color: #2D92A6;
color: white;
opacity: 0.95;	
}

.leftcolumn{
float: left;
width: 100%;
}

.leftcolumn2{
float: left;
width: 70%;
}

.centercolumn{
float: center;
width: 100%;
}

.rightcolumn {
float: left;
width: 30%;
padding-left: 40px;
}

.rightcolumn2 {
float: left;
width: 50%;
padding-left: 40px;
}

.faking{
background-color: #100;
width: 100%;
padding: 20px;
}

.card{
background-color: #100;
padding: 20px;
margin-top: 40px;
opacity: 0.65;
}

.row:after {
content: "";
display: table;
clear: both;
opacity:0.95;
}
  
.footer {
padding: 20px;
text-align: center;
background: #100;
margin-top: 20px;
opacity:0.95;
}



.active, .dot:hover {
background-color: #717171;
}

.info {
bottom:1px;
left:50px;
width:300px;
height:20px;}
/*
Attempt
*/
* {margin: 0; padding: 0;}

.slider{
	width: 640px; 
	position: relative;
	
	padding-top: 320px; 
	
	margin: 100px auto;

	box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.75);
}



.slider>img{
	position: absolute;
	left: 0; top: 0;
	transition: all 0.5s;
}

.slider input[name='slide_switch'] {
	display: none;
}

.slider label {
	
	margin: 18px 0 0 18px;
	border: 3px solid #999;
	
	float: left;
	cursor: pointer;
	transition: all 0.5s;
	
	
	opacity: 0.6;
}

.slider label img{
	display: block;
}


.slider input[name='slide_switch']:checked+label {
	border-color: #666;
	opacity: 1;
}

.slider input[name='slide_switch'] ~ img {
	opacity: 0;
	transform: scale(1.1);
}


.slider input[name='slide_switch']:checked+label+img {
	opacity: 1;
	transform: scale(1);
}